---
import siteConfig from '@/configs/site'
import AppLayout from '@/layouts/AppLayout.astro'

const { author } = siteConfig

const title = '404 Not Found'
const description = '404 Error, probably not found...'
---

<AppLayout title={title} description={description} author={author.name}>
  <section
    class="flex flex-col justify-center items-center text-site-header-text"
    style="height: calc(100vh - 250px);"
  >
    <h1 class="text-3xl mb-3">{title}</h1>
    <p class="mb-3">{description}</p>
    <a class="font-semibold" href="/">Go Home</a>
  </section>
</AppLayout>
