---
import { getCollection } from 'astro:content'

import PostItem from '@/components/post/PostItem.astro'
import siteConfig from '@/configs/site'
import AppLayout from '@/layouts/AppLayout.astro'

const { title, description, author } = siteConfig

const allPosts = await getCollection('leetcode-solutions')
---

<AppLayout
  title={title}
  description={description}
  author={author.name}
  headerCssClasses="max-w-xl px-8"
>
  <main class="mx-auto my-4 p-4 max-w-xl text-site-header-text">
    <div role="list" class="grid grid-cols-1 gap-4">
      {
        allPosts.map((p) => (
          <PostItem href={`/${p.slug}`} title={p.data.title} />
        ))
      }
    </div>
  </main>
</AppLayout>
