---
import siteConfig from '@/site.config'
import { Difficulty } from '@/types'
import PostList from '@components/PostList.astro'
import Default from '@layouts/Default.astro'

const contents = await Astro.glob('./*.md')
const posts = contents.filter((p) => /^\/\d{4}\-/i.test(p.url as string))
---

<Default
  title={siteConfig.title}
  description={siteConfig.description}
  headerCssClasses="max-w-xl px-8"
>
  <main class="mx-auto my-8 flex max-w-xl justify-center px-4 md:px-0">
    <div class="flex grow flex-col px-8">
      <h1 class="text-inverted mb-4 text-center">
        {
          Object.entries(Difficulty).map((e) => (
            <a href={`/difficulties/${e[1]}`} class="badge-outline mx-1 my-3">
              <span>{e[0]}</span>
            </a>
          ))
        }
      </h1>
      <PostList posts={posts} />
    </div>
  </main>
</Default>
