---
import siteConfig from '@/site.config'
import type { UnionPostFrontMatter } from '@/types'
import { formatDate } from '@/utils/date'
import LcDifficulty from '@components/LcDifficulty.astro'
import kebabCase from 'lodash.kebabcase'

export interface Props extends UnionPostFrontMatter {}

const { author: siteAuthor } = siteConfig
const { title, author, pubDate, tags = [], difficulty } = Astro.props

const formattedDate = formatDate(pubDate)
---

<div class="post-header">
  <h1 class="mb-3 text-2xl">{title}</h1>
  <div class="mb-3 flex items-center justify-center">
    <LcDifficulty difficulty={difficulty} />
  </div>
  <div class="mb-3 flex flex-row flex-wrap items-center justify-center">
    {
      tags.map((tag) => (
        <a href={`/tags/${kebabCase(tag)}`} class="mx-1 my-3">
          <span class="rounded-lg bg-style-secondary p-2 text-style-primary-inverted hover:bg-style-secondary-inverted hover:text-style-primary">
            {tag}
          </span>
        </a>
      ))
    }
  </div>
  <div class="m-3 flex justify-center text-start">
    <img
      src={siteAuthor.avatar}
      alt="Author's avatar"
      class="rounded-full"
      style="margin-bottom: 0 !important;"
      width="64"
      height="64"
    />
    <div class="ml-3 flex flex-col justify-center">
      <span class="mb-1">{author}</span>
      <span class="mb-1">Posted on {formattedDate}</span>
    </div>
  </div>
</div>

<style lang="scss">
  .post-header {
    @apply mb-3 rounded bg-style-primary p-3 text-center text-style-primary-inverted;
  }
</style>
