---
interface Props {
  title: string
  description?: string
  favicon?: string
  faviconMimeType?: string
  canonicalURL?: string | undefined
  keywords?: string
  author?: string
  robots?: string
}

const {
  title,
  description,
  favicon,
  faviconMimeType,
  canonicalURL,
  keywords,
  author,
  robots,
} = Astro.props

const _canonicalURL = canonicalURL || Astro.url.href
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type={faviconMimeType} href={favicon} />
{_canonicalURL && <link rel="canonical" href={_canonicalURL} />}

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
{description && <meta name="description" content={description} />}

<!-- Dynamic Meta Tags -->
{keywords && <meta name="keywords" content={keywords} />}
<meta name="author" content={author} />
{robots && <meta name="robots" content={robots} />}
<meta name="generator" content={Astro.generator} />
