---
import '@/assets/scss/app.scss'

import AppFooter from '@/components/AppFooter.astro'
import AppHeader from '@/components/AppHeader.astro'
import SEOMeta from '@/components/SEOMeta.astro'
import siteConfig from '@/configs/site'

export interface Props {
  title: string
  description: string
  author: string
  headerCssClasses?: string
}

const { title, description = '', author, headerCssClasses = '' } = Astro.props
const { favicon, faviconMimeType } = siteConfig
const pageDescription =
  description.length > 0 ? description : `${title} - ${siteConfig.description}`
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEOMeta
      title={title}
      description={pageDescription}
      favicon={favicon}
      faviconMimeType={faviconMimeType}
      author={author}
    />
  </head>
  <body class="max-w-8xl mx-auto bg-site-bg">
    <AppHeader class={headerCssClasses} />
    <slot />
    <AppFooter />
  </body>
</html>
